
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.contenedor-articulos{
    display: flex;
    justify-content: center;
    align-items: center;

   
    margin: 2rem;
}

.contenedor-contenido {
    position: relative;
    height: 50vh;
    width: 40vh;
    margin: 6rem 0rem 6rem 0rem;
}


.contenedor-contenido:hover {
    cursor:pointer;

    animation: mover;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    
}

.contenedor-image {
    background-image: url("../img/Esquematico\ PIC.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100%;

    filter: blur(0.5px) brightness(50%);

    border-radius: 1rem;
}

#contenedor-firmware{
    background-image: url("../img/softwareComp.jpg");
}

#contenedor-software {
    background-image: url("../img/softwareComp.jpg");
}

#contenedor-hardware {
    background-image: url("../img/Esquematico PIC.jpg");
}

.nombre-contenedor {
    /* z-index: 0; */
    position: relative;
    top: -50%;
    left: 18%;
    transform: translate(0%, -50%);

    width: fit-content;

    color: white;
    font-size: 5vh;
    font-weight: 200;
}

.main {
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
