
.main {
    background-color: black;
    background-image: url('../img/logo_hyperloopUPV.jpg');

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-image: url('../img/logo_hyperloopUPVBlur.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    /* height: 100%; */
}

.contendor-temperatura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:16%;
    /* background-color: red; */
}

.contenedor-temperatura-texto {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: .5rem;

    /* background-color: green; */
}

.contendor-temperatura-imagen {
    width: 3rem;
    margin-right: 1rem;
}
.contendor-temperatura-imagen-pequeño {
    display: flex;
    justify-content: center;
    width: 2rem;
    margin-right: 1rem;
    margin-left: .5rem;
}
.subcontenedor-texto {
    display: flex;

    justify-content: flex-end;
    align-items: center;

    width: 100%;
    margin-right: 1rem;
    /* background-color: blue; */
}

/* #texto-temp {
    font-size: 3rem;
    margin-right: 1rem;
} */

.texto-grande{
    color: whitesmoke;
    margin: .1rem;

    font-weight: 200;
    font-size: 3rem;
}
.texto-pequeño {
    color: whitesmoke;
    margin: .1rem;
    

    font-weight: 100;
    font-size: 2rem;
}
.texto-unidades{
    font-size: 1.5rem;
    margin-right: 3rem;
}

.separador{
    
    border-color: rgba(255, 255, 255, 0.26);
    width: 100%;
    /* height: 0; */
    border-width: 1px 0px 0px 0px;
    /* border-radius: 1rem; */
    
}

.contenedor-boton {
    height: 5rem;
    width: 5rem;

    margin-top: 2rem;

    /* background-color: pink; */
}

.contenedor-imagen-esquemas {
    height: 55%;

    margin-right: 2rem;
}
