.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-image: url('../img/logo_hyperloopUPVBlur.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    height: 100%;
}

.contendor-temperatura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: red; */
}

.contenedor-temperatura-texto {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: .5rem;

    /* background-color: green; */
}

.contendor-temperatura-imagen {
    width: 3rem;
    margin-right: 1rem;
}

.subcontenedor-texto {
    display: flex;

    justify-content: flex-start;
    align-items: center;

    width: 100%;

    /* background-color: blue; */
}

#texto-temp {
    font-size: 3rem;
    margin-right: 1rem;
}

.texto-grande {
    color: whitesmoke;
    margin: .1rem;

    font-weight: 100;

    font-size: 2rem;
}

.contenedor-boton {
    height: 5rem;
    width: 5rem;

    margin-top: 2rem;

    /* background-color: pink; */
}

.contenedor-imagen-esquemas {
    height: 55%;

    margin-right: 2rem;
}
