.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-image: url('../img/logo_hyperloopUPVBlur.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.contendor-temperatura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 16%;
}

.contenedor-temperatura-texto {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: .8vh;
}

.contendor-temperatura-imagen {
    width: 5vh;
    margin-right: 2vh;
}

.contendor-temperatura-imagen-pequeño {
    display: flex;
    justify-content: center;

    width: 3.4vh;
    margin-right: 1.8vh;
    margin-left: .8vh;
}

.subcontenedor-texto {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    margin-right: 1.7vh;
}

.texto-grande {
    color: whitesmoke;
    margin: .15vh;

    font-weight: 200;
    font-size: 5vh;
}

.texto-pequeño {
    color: whitesmoke;
    margin: .15vh;

    font-weight: 100;
    font-size: 3.3vh;
}

.texto-unidades {
    font-size: 3vh;
    margin-right: 4.3vh;
}

.separador {
    border-color: rgba(255, 255, 255, 0.26);
    width: 100%;
    border-width: 1px 0px 0px 0px;
}

.contenedor-boton {
    height: 8.2vh;
    width: 8.2vh;

    margin-top: 3.5vh;
}