* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    background-color: rgba(126, 154, 160, 0.466);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    background-color: #1C1D21;
}
.header-texto{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}
.header-texto:hover{
    cursor: pointer;
}

.titulo {
    margin-right: 1rem;
    color: whitesmoke;
}
.main {
    display: flex;

    justify-content: space-around;
    align-items: center;

    background-color: black;
    background-image: url('../img/logo_hyperloopUPV.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    height: 100%;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background-color: #1C1D21;
}

.texto-footer {
    color: #a0959685;

    margin-bottom: .1rem;
    font-size: .7rem;
}

.texto-footer:last-of-type {
    margin-bottom: 0;
}